<div class="word-summary">

  @if (activitySummary.getSuccessWord() === activitySummary.getTotalWord()) {
    <!-- Tous les mots sont corrects -->
    <p>Bravo, tous les mots étaient corrects !!</p>
  } @else {
    <!-- Il y avait des mots erronés -->
    <div>
      <p>Tu as fait {{ activitySummary.getSuccessWord() }} mots corrects sur {{ activitySummary.getTotalWord() }}</p>
      <div>
        <p>Les mots qui n'étaient pas corrects sont :</p>
        <ul>
          @for (currentWord of activitySummary.getErrorList(); track currentWord) {
            <li>{{ currentWord }}</li>
          }
        </ul>
      </div>
    </div>
  }

</div>


