<!-- Button bar at the top -->
<div class="activity-toolbar">
  <button mat-fab color="accent" class="activity-button" (click)="hearWord(this.activityList[this.currentIdx].getWord())"><mat-icon aria-label="Ecouter mot">volume_up</mat-icon></button>
  <button mat-fab color="accent" class="activity-button" (click)="nextWord()"><mat-icon aria-label="Suivant">play_arrow</mat-icon></button>
</div>

<!-- Activity contents and actions -->
<div class="activity-body"  *ngIf="!showSummaryFlag">
  <mat-form-field class="activity-input">
    <div class="activity-input-visible" >
      <input type="password" class="activity-input-hidden" matInput autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="currentWord">
      <input type="text" matInput autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="currentWord">
    </div>
  </mat-form-field>
</div>

<!-- Display summary -->
<div><app-word-activity-end *ngIf="showSummaryFlag" [activitySummary]="activitySummary"/></div>
