<!-- Button bar at the top -->
<div class="activity-toolbar" (click)="setFocusOnInput()">
  <button mat-fab color="accent" class="activity-button" (click)="hearWord(this.activityList[this.currentIdx].getWord())"><mat-icon aria-label="Ecouter mot">volume_up</mat-icon></button>
  <button mat-fab color="accent" class="activity-button" (click)="nextWord()"><mat-icon aria-label="Suivant">play_arrow</mat-icon></button>
</div>

<!-- Activity contents and actions -->
@if (showSummaryFlag) {
  <!-- Display summary -->
  <div><app-word-activity-end [activitySummary]="activitySummary"/></div>
} @else {
  <div class="activity-body" (click)="setFocusOnInput()">
    <div>
      <input type="password" id="writeInput" class="activity-input-hidden" autofocus matInput autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" [(ngModel)]="currentWord">
    </div>
    <div>
      <p class="activity-input-visible" [innerHTML]="currentWord" (click)="setFocusOnInput()"></p>
    </div>
  </div>
}


