

.activity-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-button {
  margin: 16px !important;
}

.activity-body {
  display: flex;
  flex-direction: column;
  height : 100%;
}

.activity-input {
  width: 100%;
  text-align: center;
}


.activity-input-hidden {
  width: 1px;
  text-align: center;
  font-size: 1pt;
  height: 1px;
  color: white;
  border-style: none;
}

.activity-input-visible {
  flex: 1 1 auto;
  width: 100%;
  text-align: center;
  font-size: 12vw;
}
