<!-- Button bar at the top -->
<div class="activity-toolbar">
  <button mat-fab color="accent" class="activity-button" (click)="hearWord(this.activityList[this.currentIdx].getWord())"><mat-icon aria-label="Ecouter mot">volume_up</mat-icon></button>
  <button mat-fab color="accent" class="activity-button" (click)="nextWord()"><mat-icon aria-label="Suivant">play_arrow</mat-icon></button>
</div>

<!-- Activity contents and actions -->
<div class="activity-body">
  <mat-form-field class="activity-input">
    <input type="text" class="activity-input" matInput autocomplete="false" [(ngModel)]="currentWord">
  </mat-form-field>
</div>
