

.activity-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-button {
  margin: 16px !important;
}

.activity-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activity-input {
  width: 100%;
  text-align: center;
}


.activity-input-hidden {
  width: 100%;
  text-align: center;
  visibility: hidden;
}

.activity-input-visible {
  width: 100%;
  text-align: center;
  font-size: 12vw;
}
