.list-dialog {
  width: 100%;
  align-items: center;
}

.list-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-dialog-text {
  font-size: 6vw;
}

.ok-text {
  color: green;
  font-weight: bold;
}

.err-text {
  color: darkred;
  font-weight: bold;
}
