.mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.activity-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-button {
  margin: 16px !important;
}

.activity-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
  font-size: 18vw;
}

