<!-- Button bar at the top -->
<div class="activity-toolbar">
  <button mat-fab color="accent" class="activity-button" (click)="hearWord(this.activityList[this.currentIdx].getWord())"><mat-icon aria-label="Ecouter mot">volume_up</mat-icon></button>
  <button mat-fab color="accent" class="activity-button" (click)="nextWord()"><mat-icon aria-label="Suivant">play_arrow</mat-icon></button>
</div>

<!-- Activity contents and actions -->
<div class="activity-build-zone">

  <div class="activity-build activity-build-target-zone"
       cdkDropList
       #builtList="cdkDropList"
       [cdkDropListData]="builtWordLetters"
       [cdkDropListConnectedTo]="[letterList]"
       (cdkDropListDropped)="drop($event)"
       cdkDropListOrientation="horizontal">
    <div *ngFor="let currentLetter of this.builtWordLetters"
         cdkDrag
         [cdkDragDisabled]="currentLetter.length==0"
         class="activity-build-cell activity-build-target">
      {{currentLetter}}
    </div>
  </div>

  <div class="activity-build-filler"></div>

  <!-- Bottom zone - Letters of word -->
  <div class="activity-build activity-build-source-zone"
       cdkDropList
       #letterList="cdkDropList"
       [cdkDropListData]="currentWordLetters"
       [cdkDropListConnectedTo]="[builtList]"
       (cdkDropListDropped)="drop($event)"
       cdkDropListOrientation="horizontal">

    <div *ngFor="let currentLetter of this.currentWordLetters"
         cdkDrag
         [cdkDragDisabled]="currentLetter.length==0"
         class="activity-build-cell activity-build-draggable">
      {{currentLetter}}
    </div>
  </div>

  <!-- Last zone - reset button -->
  <div class="activity-bottom-toolbar">
    <button mat-fab color="accent" class="activity-button" (click)="resetInput()"><mat-icon aria-label="Reset">restore</mat-icon></button>
  </div>

</div>
