.mat-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.add-button {
  text-align: right;
  border: 0;
  padding: 48px !important;
}

.list-card {
  padding: 48px !important;
}

.main-card {
  margin-bottom: 16px !important;
}
