<div class="list-card">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Configuration de la voix</mat-card-title>
      <mat-card-subtitle>Choix de la voix</mat-card-subtitle>
    </mat-card-header>
    <div class="voice-select-div">
      <mat-select [(ngModel)]="selectedVoice" (ngModelChange)="updateVoice()" class="voice-select">
        @for (currVoice of ttsService.getAllVoices(); track currVoice.voiceURI) {
          <mat-option value="{{currVoice.voiceURI}}"  >{{currVoice.name}} -- {{currVoice.lang}}</mat-option>
        }
      </mat-select>
    </div>
    <mat-card-actions align="end">
      <button mat-button color="accent" (click)="testVoice()"><mat-icon aria-label="Test">volume_up</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
